{
  "defaultNetwork": "mainnet",
  "gaId": "UA-XXXXXXXXX-X",
  "fbPixelId": "XXXXXXXXXXXXX",
  "serviceReceiver": {
    "mainnet": "0xf11226767980db564b4bFc83235f85b70EDe12dD",
    "testnet": "0x4466827a069549Bcb8275C74Fa6E9F6b3E79C8B0"
  }
}