body {
  background: #ffffff;
  min-height: 100vh;

  .peach-gradient {
    background: #FFD86F!important;
    background: -webkit-linear-gradient(50deg,#FFD86F,#FC6262)!important;
    background: -o-linear-gradient(50deg,#FFD86F,#FC6262)!important;
    background: linear-gradient(40deg,#FFD86F,#FC6262)!important
  }

  .purple-gradient {
    background: #ff6ec4!important;
    background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important
  }

  .blue-gradient {
    background: #303f9f!important;
    background: -webkit-linear-gradient(50deg,#303f9f,#2096ff)!important;
    background: -o-linear-gradient(50deg,#303f9f,#2096ff)!important;
    background: linear-gradient(40deg,#303f9f,#2096ff)!important;
  }

  .aqua-gradient {
    background: #2096ff!important;
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: -o-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important
  }

  .wiretap-gradient {
    background: #8a2387!important;
    background: -webkit-linear-gradient(50deg,#8a2387,#e94057,#f27121)!important;
    background: -o-linear-gradient(50deg,#8a2387,#e94057,#f27121)!important;
    background: linear-gradient(40deg,#8a2387,#e94057,#f27121)!important;
    padding-bottom: 60px;
  }
  .wiretap-padding {
    padding-bottom: 40px;
    padding-top: 44px;
  }


  .bg-gradient-to-r {
    background-image:linear-gradient(90deg, var(--tw-gradient-stops))
}

.from-purple-400 {
    --tw-gradient-from: #a78bfa;
    --tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to, rgba(167, 139, 250, 0))
}

.via-pink-500 {
    --tw-gradient-stops:var(--tw-gradient-from), #ec4899, var(--tw-gradient-to, rgba(236, 72, 153, 0))
}

.to-red-400 {
    --tw-gradient-to:#f87171
}

  .kingyna-gradient {
    background: #1a2a6c!important;
    background: -webkit-linear-gradient(50deg,#1a2a6c,#b21f1f,#fdbb2d)!important;
    background: -o-linear-gradient(50deg,#1a2a6c,#b21f1f,#fdbb2d)!important;
    background: linear-gradient(40deg,#1a2a6c,#b21f1f,#fdbb2d)!important;
  }

  .flickr-gradient {
    background: #ff0084!important;
    background: -webkit-linear-gradient(50deg,#ff0084,#33001b)!important;
    background: -o-linear-gradient(50deg,#ff0084,#33001b)!important;
    background: linear-gradient(40deg,#ff0084,#33001b)!important;
  }

  .footer {
    .list-group-item {
      background: none;

      &:focus {
        outline: none;
      }
    }
  }

  .text-4xl {
    font-size: 4.25rem;
    line-height: 4.5rem;
  }

  @media (max-width: 576px) {
    .jumbotron .display-3 {
      font-size: 2.5rem;
    }
  }
}

